/* TABLE OF CONTENTS */
/* 
  RESETS / DEFAULTS
  PAGE WRAPPER
  TOOLBAR
  BOARD
  COLUMNS
  TASKS
*/

/* --------

    RESETS / DEFAULTS

   -------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px red solid;
}

html {
  height: 100%;
}

body {
  background-color: #8bc6ec;
  background-image: linear-gradient(176deg, #8bc6ec 24%, #9599e2 100%);
}

/* --------

    PAGE WRAPPER

   -------- */
.page__wrapper {
  max-width: 1440px;
  margin-inline: auto;
  height: 90vh;
}

/* --------

    BOARD

-------- */
.board__wrapper {
  margin-top: 3rem;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* --------

    TOOLBAR

-------- */
.toolbar {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
  position: relative;
}

/* --------

    MODAL

   -------- */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.task__modal-content,
.pomo__modal-content,
.project__modal-content {
  background-color: #fff;
  padding: 10rem;
}

.modal-displayed {
  display: flex;
}

/* --------

    COLUMNS

   -------- */
.column__wrapper {
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.column__header {
  display: flex;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #614747;
}

.task-column {
  background-color: #afa9a9;
  width: 30%;
  padding: 1.5rem;
  overflow-y: auto;
  max-height: 70vh;
}

/* --------

    TASKS

   -------- */
.task {
  background-color: #cecccc;
  margin-top: 1rem;
  padding: 3rem;
  cursor: move;
}

.is-dragging {
  scale: 1.025;
  background-color: #fff;
}
